body {
  background-color: #0f0f0f;
  color: #EFE8C2 !important;

  .main-nav {
    background-color: #0f0f0f !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  .navbar-nav .nav-item .nav-link {
    color: #EFE8C2 !important;
    font-size: 19px !important;
  }

  .main-nav .navbar-toggler .icon-bar {
    background: #EFE8C2;
  }

  .navbar-brand {
    color: #FF66C4;
    font-size: 3.25rem;
    font-weight: 900;
  }

  table {
    width: 100%;
    font-size: 20px;
    border-collapse: inherit;
    font-family: jost, sans-serif !important;
  }

  @media (max-width: 575px) {
    table {
      font-size: 16px;
    }
  }

  tr {
    border: solid;
    border-width: 1px 0;
  }

  .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .form-control:focus {
    border-color: $black;
    outline: none;
    box-shadow: none;
  }

  @keyframes dash-down-animation {
    0% {
      transform: translateY(0);
      transform-origin: top;
    }

    100% {
      transform: translateY(1);
      transform-origin: top;
    }
  }
}