<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="intro-post">
          <div class="featured-post-thumb">
            {{ with .Site.Params.mainImage }}
            <img src="{{ .  | absURL }}" alt="feature-post-thumb" />
            {{ end }}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="featured-post">
          <div id="about" class="featured-post-content">
            <a href="#about" class="featured-post-title"> ABOUT </a>
            <div class="featured-post-author">
              <p class="blue-link">
                Ryan Cox is a stand-up comedian based in Asheville, NC. Ryan's
                relaxed delivery weaves crafted punchlines with twisted
                storytelling and unique perspectives on our ever-changing world.
                Ryan has engaged audiences around the country and shared the
                stage with comedy heavyweights like Reggie Watts, Pete Lee, and
                Jessimae Peluso. Ryan's debut Dry Bar Comedy Special is set for
                release this summer (August 2025). Ryan hosts
                <a
                  target="_blank"
                  href="https://podcasters.spotify.com/pod/show/1220564495/"
                  ><i>Home Planet with Ryan Cox</i></a
                >, a podcast that explores the creative process through
                thoughtful conversations with comedians, musicians, and artists
                from all walks of life.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="video" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a href="#video" class="featured-post-title"> VIDEO </a>
            <div class="iframe-container">
              <iframe
                class="responsive-iframe"
                src="https://www.youtube.com/embed/xjxgCAR7mQk?wmode=opaque"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <p></p>
            <p></p>
            <div class="iframe-container">
              <iframe
                class="responsive-iframe"
                src="https://www.youtube.com/embed/fSCPgt4Ve3M?wmode=opaque"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <p></p>
            <p></p>
            <div class="iframe-container">
              <iframe
                class="responsive-iframe"
                src="https://www.youtube.com/embed/_v188ztfEQM?wmode=opaque"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <p></p>
            <p></p>
            <div class="iframe-container">
              <iframe
                class="responsive-iframe"
                src="https://www.youtube.com/embed/v0j1piY-wCg?wmode=opaque"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <p></p>
            <p></p>
            <div class="iframe-container">
              <iframe
                class="responsive-iframe"
                src="https://www.youtube.com/embed/aGZKOo6ZzJ0?wmode=opaque"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <p></p>
            <p></p>
            <div class="iframe-container">
              <iframe
                class="responsive-iframe"
                src="https://www.youtube.com/embed/uti665UJl9o?wmode=opaque"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
            <p></p>
            <p></p>
            <div class="iframe-container">
              <iframe
                class="responsive-iframe"
                src="https://www.youtube.com/embed/Tj1o3LQ8izo?wmode=opaque"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="podcast" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a class="featured-post-title" href="mailto:ryancoxcomedy@gmail.com"
              >Home Planet Podcast</a
            >
            <div style="text-align: center">
              <iframe
                id="embedPlayer"
                src="https://embed.podcasts.apple.com/us/podcast/home-planet-with-ryan-cox/id1729087738?itsct=podcast_box_player&amp;itscg=30200&amp;ls=1&amp;theme=auto"
                height="450px"
                frameborder="0"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                allow="autoplay *; encrypted-media *; clipboard-write"
                style="
                  width: 100%;
                  max-width: 660px;
                  overflow: hidden;
                  border-radius: 10px;
                  transform: translateZ(0px);
                  animation: 2s ease 0s 6 normal none running loading-indicator;
                  background-color: rgb(228, 228, 228);
                "
              ></iframe>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="shows" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a href="#shows" class="featured-post-title">2025 SHOWS </a>
            <table class="events-table">
              <thead>
                <tr>
                  <th class="event-time" scope="col"></th>
                  <th class="event-venue" scope="col"></th>
                  <th class="event-city" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{ with .Site.Data.shows }} {{ range .showObjects}}
                <tr>
                  <td>
                    {{ .date }}
                    <p></p>
                  </td>
                  <td>
                    {{ .venue }}
                    <p></p>
                  </td>
                  <td>
                    <em>
                      {{ if .city }} {{.city}} {{ else }} Asheville, NC {{ end
                      }}
                    </em>
                    <p></p>
                  </td>
                </tr>
                {{ end}} {{ end}}
              </tbody>
            </table>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="contact" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a class="featured-post-title" href="mailto:ryancoxcomedy@gmail.com"
              >CONTACT: ryancoxcomedy@gmail.com</a
            >
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
