{{ range $.Site.RegularPages }}
{{ if eq .Params.featured true }}
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="intro-post">
          <div class="featured-post-thumb">
            <img src="{{ .Params.thumbnail  | absURL }}" alt="feature-post-thumb"/>
          </div>
        </article>
      </div> 
    </div> 
  </div>
</section>
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="featured-post">
          <div id="about" class="featured-post-content">
            <a href="#about" class="featured-post-title">
              ABOUT
            </a>
            <div class="featured-post-author">
              <p class="blue-link" >
                Ryan Cox is a comedian's comedian. He is also a comedian for people who aren't comedians.
                Ryan has performed his unique blend of stand-up all over the Southeast since 2014, with jokes ranging
                from crafted one-liners to twisted parenting tales to crowd work. He’s landed punchlines
                on big stages like the Orange Peel and worked alongside national touring acts like Pete Lee,
                Sean Finnerty and Jessimae Peluso. You can catch Ryan at the North Carolina Comedy Festival
                this Fall in 2023.
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="video" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a href="#video" class="featured-post-title">
              VIDEO
            </a>
            <div class="iframe-container">
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/ivdOvE2KV14?wmode=opaque" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </article>
      </div> 
    </div> 
  </div> 
</section>
<section class="featured">
  <div class="container">
    <div id="live-shows" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a href="#live-shows" class="featured-post-title">
              2023 LIVE SHOWS
            </a>
          <table class="events-table">
            <thead>
              <tr>
                <th class="event-time" scope="col"></th>
                <th class="event-venue" scope="col"></th>
                <th class="event-city" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  09/7/2023
                </td>
                <td>
                  <strong>North Carolina Comedy Festival</strong>
                  <p></p>
                </td>
                <td>
                  <em>Greensboro, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  09/5/2023
                </td>
                <td>
                  <strong>North Carolina Comedy Festival</strong>
                  <p></p>
                </td>
                <td>
                  <em>Greensboro, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  08/26/2023
                </td>
                <td>
                  <strong>The Boutiquery</strong>
                  <p></p>
                </td>
                <td>
                  <em>Richmond, VA</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  05/18/2023
                </td>
                <td>
                  <strong>Eurisko Beer Company</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>              <tr>
                <td>
                  05/12/2023
                </td>
                <td>
                  <strong>Anderby Brewing</strong>
                  <p></p>
                </td>
                <td>
                  <em>Atlanta, GA</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  05/05/2023
                </td>
                <td>
                  <strong>The Boiler Room</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  04/21/2023
                </td>
                <td>
                  <strong>Noble Cider</strong>
                  <p></p>
                </td>
                <td>
                  <em>Leicester, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  04/20/2023
                </td>
                <td>
                  <strong>Shaky's</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  04/16/2023
                </td>
                <td>
                  <strong>Catawba Brewing</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  04/01/2023
                </td>
                <td>
                  <strong>Don't Tell</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  03/31/2023
                </td>
                <td>
                  <strong>Grateful Organic Diner</strong>
                  <p></p>
                </td>
                <td>
                  <em>Marshall, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  03/26/2023
                </td>
                <td>
                  <strong>Ale Rae's</strong>
                  <p></p>
                </td>
                <td>
                  <em>Knoxville, TN</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  03/05/2023
                </td>
                <td>
                  <strong>Catawba Brewing</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  03/17/2023
                </td>
                <td>
                  <strong>The Burger Bar</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  02/16/2023
                </td>
                <td>
                  <strong>Pulp (Beneath the Orange Peel)</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  01/30/2023
                </td>
                <td>
                  <strong>The Grey Eagle</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  01/27/2023
                </td>
                <td>
                  <strong>Gigi's Underground</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
              <tr>
                <td>
                  01/06/2023
                </td>
                <td>
                  <strong>rEvolve Vintage</strong>
                  <p></p>
                </td>
                <td>
                  <em>Asheville, NC</em>
                  <p></p>
                </td>
              </tr>
            </tbody>
          </table>
         </div>
        </article>
      </div> 
    </div> 
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="contact" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a class="featured-post-title" href="mailto:ryancoxcomedy@gmail.com">CONTACT: ryancoxcomedy@gmail.com</a>
          </div>
        </article>
      </div> 
    </div> 
  </div>
</section>
{{ end }} {{ end }}