<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="intro-post">
          <div class="featured-post-thumb">
            {{ with .Site.Params.mainImage }}
            <img src="{{ .  | absURL }}" alt="feature-post-thumb"/>
            {{ end }}
          </div>
        </article>
      </div> 
    </div> 
  </div>
</section>
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="featured-post">
          <div id="about" class="featured-post-content">
            <a href="#about" class="featured-post-title">
              ABOUT
            </a>
            <div class="featured-post-author">
              <p class="blue-link" >
                Ryan Cox is a touring Stand-Up Comedian based in Asheville, NC.
                As a lifelong songwriter and performing musician, Ryan started slipping jokes into his musical sets and
                became obsessed with writing the perfect punchline.
                In 2014 Ryan entered a Toastmasters
                Humorous Speech Competition and advanced to the finals, winning third place in the state of North Carolina. After the competition, Ryan was hooked and dove head-first into writing and performing jokes.
                Over the past decade Ryan has performed stand-up in clubs, festivals and alt rooms up and down the East Coast and worked alongside many of his favorite comics,
                including Reggie Watts, Pete Lee, and Jessimae Peluso.
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="video" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a href="#video" class="featured-post-title">
              VIDEO
            </a>
            <div class="iframe-container">
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/_v188ztfEQM?wmode=opaque" frameborder="0" allowfullscreen></iframe>
            </div>
            <p></p>
            <p></p>
            <div class="iframe-container">
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/bMdyoXIH4s4?wmode=opaque" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </article>
      </div> 
    </div> 
  </div> 
</section>
<section class="featured">
  <div class="container">
    <div id="live-shows" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a href="#live-shows" class="featured-post-title">
              2023 LIVE SHOWS
            </a>
          <table class="events-table">
            <thead>
              <tr>
                <th class="event-time" scope="col"></th>
                <th class="event-venue" scope="col"></th>
                <th class="event-city" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {{ with .Site.Data.shows }}
                {{ range .showObjects}}
                <tr>
                  <td>
                    {{ .date }}
                    <p></p>
                  </td>
                  <td>
                    {{ .venue }}
                    <p></p>
                  </td>
                  <td>
                    <em>
                    {{ if .city }}
                      {{.city}}
                    {{ else }}
                      Asheville, NC
                    {{ end }}
                    </em>
                    <p></p>
                  </td>
                </tr>
                {{ end}}
              {{ end}}
            </tbody>
          </table>
         </div>
        </article>
      </div> 
    </div> 
  </div>
</section>
<section class="featured">
  <div class="container">
    <div id="contact" class="row">
      <div class="col-12">
        <article class="featured-post">
          <div class="featured-post-content">
            <a class="featured-post-title" href="mailto:ryancoxcomedy@gmail.com">CONTACT: ryancoxcomedy@gmail.com</a>
          </div>
        </article>
      </div> 
    </div> 
  </div>
</section>
