<!-- Navbar Start -->
<nav class="main-nav navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href={{ "" | absURL }}>
      RYAN COX
    </a>
    <button class="navbar-toggler collapsed navbar-dark" type="button" data-toggle="collapse" data-target="#mainNav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse nav-list" id="mainNav">
      <!-- Navigation Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#video">VIDEO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#podcast">PODCAST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#shows">SHOWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>